/* ====================
  Base
  ===================== */

body {
  background: white;
  font-family: "Gotham", "Gotham SSm A", "Gotham SSm B", "Helvetica","Arial","Verdana","sans-serif";
  font-weight: 400;
  color: $color-paragraph;
  -webkit-font-smoothing: antialiased;
}

a { color: $color-primary; }
* { box-sizing: border-box; }
img { max-width: 100%; }

h1 {
  margin: 0 20%;
  font-size: 48px;
  line-height: 58px;
  font-weight: 100;

  @include media-breakpoint-down(lg) {
    margin: 0 15%;
  }

  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 1.4em;
    margin: 0;
  }
}

h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 100;

  color: $color-secondary;
}

h3 {
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  font-weight: 100;
  color: $color-secondary;
}

h4 {
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  font-weight: 100;
  color: $color-secondary;
}

p {
  margin: 0;
  font-size: 15px;
  line-height: 24px;

  @include media-breakpoint-down(md) {
    font-size: 14px;
    line-height: 22px;
  }
}

.swiper-button-prev {
  width: 14px;
  left: 40px;
  height: 24px;
  background: url(../images/icn-arrow-prev.svg) no-repeat center;
}

.swiper-button-next {
  width: 14px;
  right: 40px;
  height: 24px;
  background: url(../images/icn-arrow-next.svg) no-repeat center;
}

.align-center {
  text-align: center;
}
