/**!
 * React ES6 Boilerplate
 * Author: @iduuck
 * Date: 1 October 2015
 *
 * https://github.com/nick/react-es6-boilerplate
 */


/**! Site settings
 ================================= */

@import "site-settings";


/**! Bower Components
 ================================= */

@import "normalize";
@import "mixins";
@import "animation";
@import 'bootstrap-grid';
@import "modal";


/**! Base
 ================================= */

@import "base";
@import "helpers";
@import "retina";


/**! Layouts
 ================================= */

@import "layout/call-to-action";
@import "layout/faq";
@import "layout/features";
@import "layout/projects";
@import "layout/quotes";
@import "layout/smiles";


/**! Modules
 ================================= */

@import "modules/app-header";
@import "modules/app-teaser";
@import "modules/list-group";
@import "modules/profile";
@import "modules/footer";
@import "modules/smile";
@import "modules/input";
@import "modules/button";
@import "modules/campaign";
@import "modules/campaign-teaser";
@import "modules/campaign-content";
@import "modules/comment";

html, body { background: #f7f7f7; }

.modal {
  border-radius: 3px;
}

.modal-header {
  border-radius: 3px 3px 0 0;
  position: relative;
  padding: 0;
  height: 80px;
  background-size: cover;
  background-position: center;
  border-bottom: 0;

  .close {
    font-size: 30px;
    background: none;
    border: 0;
    outline: 0;
    background: none;
    position: absolute;
    z-index: 6;
    top: 50%;
    right: 30px;
    height: 30px;
    width: 20px;
    margin-top: -15px;
    cursor: pointer;
  }

  &:before {
    content: '';
    position: absolute;
    border-radius: 3px 3px 0 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: .8;
  }
}

.modal-title {
  position: relative;
  z-index: 5;
  font-size: 24px;
  font-weight: normal;
  line-height: 80px;
  width: 100%;
  text-align: center;
}

.modal-body {
  padding: 0 30px;
  max-height: 60vh;
  overflow: auto;
}

.modal-footer {
  display: flex;
}

.modal-input {
  flex: 1 1 auto;

  input {
    border-radius: 3px 0 0 3px;
  }
}

.modal-submit {
  flex: 0 0 120px;

  .Button {
    border-radius: 0 3px 3px 0;
    min-width: auto;
  }
}
