/**!
 * React ES6 Boilerplate
 * Author: @iduuck
 * Date: 1 October 2015
 *
 * https://github.com/nick/react-es6-boilerplate
 */


/**! Site settings
 ================================= */

@import "site-settings";


/**! Bower Components
 ================================= */

@import "normalize";
@import 'mixins';
@import 'bootstrap-grid';
@import 'dropdown';


/**! Base
 ================================= */

@import "base";
@import "helpers";
@import "retina";


/**! Layouts
 ================================= */

@import "layout/call-to-action";
@import "layout/faq";
@import "layout/features";
@import "layout/projects";
@import "layout/quotes";
@import "layout/smiles";


/**! Modules
 ================================= */

@import "modules/button";
@import "modules/feature-bar";
@import "modules/feature";
@import "modules/footer";
@import "modules/header";
@import "modules/masthead";
@import "modules/phone-slider";
@import "modules/project-list";
@import "modules/question";
@import "modules/quote";
@import "modules/smiles";

.dropdown {
  cursor: pointer;
  padding: 5px 10px;
}

.dropdown-menu {
  display: block !important;
  opacity: 0;
  transform: scale(.8);
  margin-top: -1px;
  right: -1px;
  transform-origin: 80% 0;
  transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
  z-index: -1;
  border-radius: 3px 0 3px 3px;
}

.open {
  background: white;
  border-radius: 3px 3px 0 0;
  color: #666;
}

.open > .dropdown-menu {
  opacity: 1;
  transform: scale(1);
}

.dropdown-item {
  padding: 3px 10px;
  @include clearfix;

  &:hover {
    background: none;
  }
}

.dropdown-item input {
  color: #444;
  border: 1px solid #eee;
  padding: 0 10px;
  font-size: 13px;
  min-width: 230px;
  line-height: 34px;
  outline: none;
  height: 34px;
  border-radius: 3px;
}

.dropdown-item .Button {
  height: 34px;
  line-height: 36px;
  padding: 0 20px;
  font-size: 13px;
  min-width: 0;
  float: right;
}
