.Button {
  display: inline-block;
  line-height: 24px;
  padding: 10px 30px;
  min-width: 200px;
  text-decoration: none;
  border: 0;
  color: currentColor;
  text-align: center;
  border-radius: 3px;
  -webkit-appearance: none;
  outline: none;

  &--Primary {
    background: $color-primary;
    color: white;

    &:hover {
      background: darken($color-primary, 5);
    }
  }

  &--Grey {
    background: #ededed;
    color: $color-secondary;
  }
}
