.Button {
  display: inline-block;
  line-height: 24px;
  padding: 10px 30px;
  min-width: 200px;
  text-decoration: none;
  color: currentColor;
  border-radius: 3px;

  &--Primary {
    background: $color-primary;
    color: white;

    &:hover {
      background: darken($color-primary, 5);
    }
  }
}
