.CampaignContent {
  margin-top: -20px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(#000, .15);

  &-Progress {
    padding: 15px 30px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    align-items: center;

    &-Label {
      flex: 0 0 auto;
      font-size: 14px;
      font-weight: bold;
      margin-right: 20px;
    }

    &-Bar {
      flex: 1 1 0;
      border-radius: 4px;
      height: 8px;
      background: #e7e7e7;

      div { background: $color-primary; height: 8px; border-radius: 4px; }
    }
  }

  &-Content {
    padding: 20px 30px;

    p:not(:last-child) { margin-bottom: 10px; }
  }
}
