.ProjectList {
  height: 60vh;
  width: 100%;
  background: url(../images/project-list.png) no-repeat center;
  animation: projectList 15s linear infinite;

  @include media-breakpoint-down(lg) {
    height: 80vh;
    // background-size: 80%;
  }

  @include media-breakpoint-down(md) {
    animation: none;
    margin-left: 50px;
    width: 624px;
    background-size: 100%;
  }

  @include media-breakpoint-down(md) {
    width: 100%;
    background-size: 100% auto;
    height: auto;
    padding-bottom: 86%;
    margin: 0;
    margin-top: -80px;
    margin-bottom: 30px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 10px;
  }
}

@keyframes projectList {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: 50% -1058px;
  }
}
